.flex-container {
/* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
       and if we allow the items to wrap 
    *  Remember this is the same as:
    *  flex-direction: row;
    *  flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-between;

    &__publications {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}

.flex-item-header {
    padding-top: 4px;
    align-self: flex-end;
}

.col9 {
    width: $spacing-subunit * 8 + $spacing-grid * 9;
}


.col7 {
    width: $spacing-subunit * 6 + $spacing-grid * 7;
}

.col2 {
    width: $spacing-subunit * 1 + $spacing-grid * 2;
}

.col3 {
    width: $spacing-subunit * 2 + $spacing-grid * 3;
}

.col3-padding {
    width: $spacing-subunit * 2 + $spacing-grid * 3 - $spacing-inner-padding * 2
}

.offset3 {
    margin-left: $spacing-subunit * 3 + $spacing-grid * 3;
}

.left-padding {
    margin-left: $spacing-subunit;
}

.bottom-padding {
    margin-bottom: $vertical-space;
}

@include media-query($on-tablet) {
    body {
        @include relative-font-size(0.8);
    }
    h1 {
        @include relative-font-size-title(0.8);
    }
    
    h2, h3 {
        @include relative-font-size-heading(0.8);
    }
    
    .small {
        @include relative-font-size-small(0.8);
    }    
    .flex-container {
        display: flex;
        flex-flow: column;
    }
  .col2 {
    width: auto;
    order: -1;
    }
  .col3 {
    width: auto;
  }
  .col3-padding {
      width: auto;
  }
  .offset3 {
      margin-left: 0px;
  }
  .col7 {
      width: auto;
  }
  .col9 {
      width: auto;
  }
  .left-padding {
      margin-left: 0px;
  } 
  .rightalign {
      text-align: left;
  }

  .bottom-padding   {
      margin-bottom: $vertical-space / 2;
  }

  .wrapper {
    padding-bottom: $vertical-space / 2;
  }

  .flex-item-header {
    align-self: flex-start;
   }

  .affiliation {
    background-color: #29abe2;
    color: #fff;
    padding: $spacing-inner-padding;
    margin-bottom: $spacing-subunit;
  }
  
  .affildescription {
    height: auto;
  }
}