.bar {
    fill: $brand-color;
}

.barchart path {
	display: none;
}

.barchart line {
    stroke-width: 1;
	stroke-dasharray: 1 2;
}

.val {
    font-size: 11px;
    pointer-events: none; 
}

.highlight {
    fill: $grey-color-dark;
}